<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>박스의 경계선과 그림자 효과</title>
<!-- 보통 style은 파일 내부에서 설정하는 것이 아니라 외부(css파일)파일을 만들어서 적용 -->
<link rel = "stylesheet" href = "./../resources/css/0205.css">
</head>
<body>
	<h1 class='korea'><p>대한민국</p></h1>
	
	<div class = 'menu'>Unix</div>
	<div class = 'menu'>Mac OS X</div>
	<div class = 'menu'>Linux</div>
	<div class = 'menu'>Windows</div>
	
	<!-- 아래 h2를 다음 줄로 내리려면 기존 float를 해제해야 함->stylesheet 수정 -->
	<div class = 'title'><h2>운영체제</h2></div>
	
	<table>
		<tr>
			<th>이름</th>
			<th>언어</th>
		</tr>
	</table>
	<div class = 'contents'>
		<table>
			<tr>
				<td>데니스 리치히</td>
				<td>C언어</td>
			</tr>
			<tr>
				<td>제임스 고슬링</td>
				<td>Java</td>
			</tr>
			<tr>
				<td>귀도 반 로섬</td>
				<td>Python</td>
			</tr>
			<tr>
				<td>브랜던 아이크</td>
				<td>JavaScript</td>
			</tr>
			<tr>
				<td>비야네 사우스스트룹</td>
				<td>C++</td>
			</tr>
			<tr>
				<td>아르네스 하일스베르</td>
				<td>C#</td>
			</tr>
		</table>
	</div>
	
	<div id = 'transform'>변환</div>
</body>
</html>